extends layout

block content
  h1= title
  p Welcome to Express Generator 

  h2= line 
  p Use the application generator tool, express-generator , to quickly create an application skeleton.
  
  h3= Title
  p Quick Start
  